# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Contao
/.htaccess
/files/*
/assets/css/*
/assets/images/*
/assets/js/*
/system/cache/*
/system/config/dcaconfig.php
/system/config/initconfig.php
/system/config/langconfig.php
/system/config/localconfig.php
/system/config/pathconfig.php
/system/logs/*
/system/tmp/*
/templates/*
/vendor/
/web/*
