# App config
/app/config/parameters.yml

# Bootstrap file
/var/bootstrap.php.cache

# Generated folders
/assets/
/files/
/system/*
!/system/config/
/system/config/localconfig.php
/templates/
/vendor/

# Symlinked resources
/web/assets
/web/bundles/
/web/files/
/web/share/
/web/system/
/web/vendor/

# Skip files
/system/modules/*/.skip

# Composer package manager
/composer/
