parameters:
    database_driver:       pdo_mysql
    database_host:         localhost
    database_port:         3306
    database_name:         ~
    database_user:         ~
    database_password:     ~

    mailer_transport:      mail
    mailer_host:           127.0.0.1
    mailer_user:           ~
    mailer_password:       ~

    secret:                ThisTokenIsNotSoSecretChangeIt

    add_language_to_url:   true
    url_suffix:            .html
